body {

    background-color: #000000;
}

#close-form-btn {
  font-size: 30px;
  color: #000000;
}


#close-form-btn:hover {
  color: #333;
}
.fa {
  font-size: 30px;
  color: red;
}

 .error {
  color: red;
  font-size: initial;
  }

  .success {
   color: green;
   font-size: initial;
   }
